<% content_for :title do %>
  Terrence R. Mooney - CPA | Home
<% end %>

<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="/assets/beach.jpg" alt="slide 1" />
        <div class="orbit-caption">
          Unparalleled Trade Union Expertise</br>
          We are one of the most sought after CPA firms in the nation for trade unions of all kinds and sizes, locals, councils and training funds.
        </div>
      </li>
      <li>
        <img src="/assets/cali.jpg" alt="slide 2" />
        <div class="orbit-caption">
          Personalized, Integrated Tax Planning to Support Wealth Accumulation Goals
        </div>
      </li>
      <li>
        <img src="/assets/sunset.JPG" alt="slide 3" />
        <div class="orbit-caption">
          Make the Right Financial Decisions in an Increasingly Complex Environment
        </div>
      </li>
      <li>
        <img src="/assets/beach.jpg" alt="slide 4" />
        <div class="orbit-caption">
          Delivering Thoughtful Analysis and Sophisticated Solutions for Corporate Tax Departments
        </div>
      </li>
      <li>
        <img src="/assets/cali.jpg" alt="slide 5" />
        <div class="orbit-caption">
          Quick Response and Solid Results
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout panel">
      <h3 class='text-center'>We Understand. It’s Not Just Numbers. It’s Your Business.</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns panel">
    <div class="large-4 medium-4 columns" data-equalizer-watch>
      <h5><a href="">Peace Of Mind</a></h5>
      <p class="">The complex challenges facing corporate tax departments today require thoughtful analysis and sophisticated solutions. That’s why CFOs, corporate tax managers and other executive leaders turn to us for the right financial solution.</p>
    </div>
    <div class="large-4 medium-4 columns" data-equalizer-watch>
      <h5><a href="">Experienced Advisors</a></h5>
      <p class="">We are a full-service certified public accounting and business advisory firm with 35 years of experience serving individuals, established businesses and entrepreneurs across industries.</p>
    </div>
    <div class="large-4 medium-4 columns" data-equalizer-watch>
      <h5><a href="">Trade Union Expertise</a></h5>
      <p class="">Whether it’s conducting an audit, preparing financial statements or annual reports, or even investigating fraud and abuse, our team of auditors and consultants has the wealth of financial and operational services experience you need.</p>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>


    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr />

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns" />
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>
    <p><a href="#" class="small button">Simple Button</a><br/>
    <a href="#" class="small radius button">Radius Button</a><br/>
    <a href="#" class="small round button">Round Button</a><br/>
    <a href="#" class="medium success button">Success Btn</a><br/>
    <a href="#" class="medium alert button">Alert Btn</a><br/>
    <a href="#" class="medium secondary button">Secondary Btn</a></p>
    <div class="panel">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.</p>
      <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
    </div>
  </div>
</div> -->